.footer_container {
    display: flex;
    justify-content: space-around;
    height: 400px;
    flex-wrap: wrap;
    border-top: 2px solid #E3E3E3;
    width: 100%;
}

.footer_container_div1 h2 {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1.8rem;
}

.footer_container_div1 p {
    line-height: 20px;
    color: var(--cor-cinza-escuro);
}

.footer_container_div1 div {
    padding-top: 7rem;
}

.footer_container_div1 img {
    width: 24px;
    margin-right: 1.3rem;
    cursor: pointer;
    transition: 0.5s;
}

.footer_container_div1 img:hover {
    filter: brightness(0.2);
}

.footer_links_container {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.footer_links_container h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1.8rem;
}

.footer_links_container a {
    font-size: 15px;
    text-decoration: none;
    color: var(--cor-cinza);
    margin-bottom: 1.2rem;
    transition: .5s;
}

.footer_links_container a:hover {
    color: var(--cor-preto);
}

.footer_container_div2 h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1.8rem;
}

.footer_container_div2 p {
    color: var(--cor-cinza);
    line-height: 1.3rem;
    font-size: 15px;
}

.footer_container_div2 button {
    margin-top: 1.8rem;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    background: var(--bg-laranja);
    cursor: pointer;
    transition: .4s;
}

.footer_container_div2 button:hover {
    background: var(--cor-preto);
    color: var(--bg-laranja)
}

.footer_texto2 p {
    padding-top: 6rem;
    color: var(--cor-preto);
}

@media (max-width: 1024px) {
    .footer_container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .footer_container_div2 {
        width: 220px;
    }

    .footer_texto2 p {
        padding-top: 80px;
    }

    .footer_container_div2 button:hover {
        background: var(--bg-laranja);
        color: var(--cor-preto);
    }
}

@media (max-width: 768px) {
    .footer_container_div1 div {
        padding-top: 60px;
    }

    .footer_texto2 p {
        padding-top: 60px;
        padding-bottom: 48px;
    }
}

@media (max-width: 430px) {
    .footer_container {
        display: block;
    }

    .footer_container_div1 {
        width: fit-content;
        margin: 0 auto;
    }

    .footer_container_div1 div {
        margin-bottom: 19.2px;
    }

    .footer_container_div2 {
        margin: 0 auto;
    }

    .footer_links_container {
        margin-left: 78px;

    }
}