.cardbarberjoin_container {  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
    background-image: url("/src/assets/barber.png");
    background-size: cover;
    padding: 1.5rem;
    border-radius: 12px;
    width: 400px;
    height: 500px;
}

.cardbarberjoin_container_nome {   
    background: #fff;    
    padding: 1.3rem .8rem 0 1.1rem;
    border-radius: 12px;
}

.cardbarberjoin_container_nome h3 {
    font-size: 19px;
    padding-bottom: 2rem;
    font-weight: 500;
}

.cardbarberjoin_container_nome a {
    display: flex;    
    gap: 1rem;
    font-size: 14px;     
    color: var(--cor-preto);
}

.cardbarberjoin_container_nome button {
    background: var(--bg-laranja);
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    width: fit-content;
    position:relative;
    right: -128px;
    top: -26px;
    cursor: pointer;
    transition: .4s;
}

.cardbarberjoin_container_nome button:hover {
    background: var(--cor-preto);
    color: var(--bg-laranja);
}

@media (max-width: 1024px) {
    .cardbarberjoin_container_nome button:hover {
        background: var(--bg-laranja);
        color: var(--cor-preto);
    }
}

@media (max-width: 430px) {
    .cardbarberjoin_container {
        width: 350px;
    }
}